
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --chat-font-size: 1rem; /* 16px */
  --chat-line-height: 1.5rem; /* 24px */
}
.font-size-sm {
  --chat-font-size: 0.875rem; /* 14px */
  --chat-line-height: 1.25rem; /* 20px */
}
.font-size-md {
  --chat-font-size: 1rem; /* 16px */
  --chat-line-height: 1.5rem; /* 24px */
}
.font-size-lg {
  --chat-font-size: 1.125rem; /* 18px */
  --chat-line-height: 1.75rem; /* 28px */
}
.chat-text {
  font-size: var(--chat-font-size);
  line-height: var(--chat-line-height);
}

*/